node_modules/
dist/
.next/
playwright-report/
test-results/
*.test.js
*.test.js.map
*.test.d.ts
*.test.d.ts.map
coverage/
.env
.env.local
.env.*.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.idea/
.vscode/
*.swp
*.swo
*~
.cache/